@import '@static/branding/app-colors';

/* https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints */
$x-large: 1920px;
$large: 1440px;
$x-medium: 1200px;

$media-desktop: 1130px;

$medium: 1024px;
$media-small-desktop: 960px;
$tablet: 820px;

$small: 600px;
$x-small: 480px;

$_white: #ffffff;
$_wildSand: #f5f5f5;
$_blueHaze: #d2d6e5;
$_zirkon: #f5f7ff;
$_lightRed: #ff4d00;
$_alto: #e0e0e0;
$_black: #000000;
$_yellowGreen: #3cab00;
$_orangePeel: #ffa333;
$_mercury: #e5e5e5;
$_gallery : #eeeeee;
$_whiteSmoke: #f5f6f9;
$_lightPurple: #837fa1;
$_grayishBlue: #252733;